/*LANDING PAGE*/
.landing-container {
    background-image: url(../assets/landingPageBg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    min-height: calc(100vh - 60px - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.landing-button-container {
    display: flex;
    gap: 2em;
    padding-top: 1em;
}

@media screen and (max-width: 600px) {
    .landing-button-container{
        flex-direction: column;
        gap: 1em;
    }
}