.transactions-page {
    min-height: calc(100vh - 60px - 60px);
    background-color: var(--background);
    color: var(--white);
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.transactions-page h1{
    text-align: center;
}
.header-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 24px;
} */

/* .header {
    flex-grow: 1;
    text-align: center;
} */

.calendar-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;;
}


.calendar-button-container>button {
    position: absolute;
}

.calendar-button-container>button {
    margin-right: 70px;
}

/*TABLE*/
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.table-section{
    max-width: 2000px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

}
.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 20px;
}
tbody{
    animation: fadeIn 1s ease-in forwards; 
}

.table-buttons {
    width: 100%;
}

.transactions-table {
    width: 100%;
    margin-top: 20px;
    background-color: var(--foreground);
    border-radius: var(--border-radius);
}

.transactions-table th {
    padding: 8px;
    background-color: var(--accent);
    border: 1px solid var(--white);
}

/*Table Body */
.transactions-table td {
    padding: 8px;
    border: 1px solid var(--white);
}

/*Center the 2 buttons in each cell.*/
.transactions-table .button-cell {
    text-align: center;
    vertical-align: middle;
    /* Center content vertically */
}

.table-button {
    transition: background-color 0.2s ease;
    color: var(--white);
    /* Make buttons a perfect circle */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    display: inline-flex;
    /* Ensures button takes up the width and height */
    justify-content: center;
    align-items: center;

}

.edit-button {
    background-color: var(--secondary-action);
}

.edit-button:hover {
    background-color: var(--secondary-action-hover);
}

.delete-button {
    background-color: var(--red-label);

}

.delete-button:hover {
    background-color: var(--red-hover);
}
.sort-button{
    background: unset;
    border: unset;
    
}
.sort-button i{
    color: var(--white);
}

.budget-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.budget-wrapper > div{
    width: 500px;
}

/*MOBILE*/
@media screen and (max-width: 980px) {
.transactions-page{
    padding-left: 20px;
    padding-right: 20px;
}
  .header-container,
  .calendar-button-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .calendar-button-container{
    margin-top: 48px;
  }
  .calendar-button-container > button{
    margin: unset !important;
  }
}


@media screen and (max-width: 700px) {
    .table-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .table-buttons > a{
        margin: unset !important;
    }
}

@media screen and (max-width: 550px) {
    .table-wrapper {
      overflow-x: auto;
      padding-left: 16px;
    }
  
    .transactions-table {
      width: 100%;
      white-space: nowrap;
    }
  }