.transactions-page {
    min-height: calc(100vh - 60px - 60px);
    background-color: var(--background);
    color: var(--white);
}


.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 24px;
}

.header {
    flex-grow: 1;
    text-align: center;
}

.calendar-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

#transaction-titles,
.calendar-button-container>button {
    position: absolute;
}

.calendar-button-container>button {
    margin-right: 70px;
}

/*TABLE*/
.table-wrapper {
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 0 70px;
}

.table-buttons {
    width: 100%
}

.transactions-table {
    width: 100%;
    margin-top: 20px;
    background-color: var(--foreground);
    border-radius: var(--border-radius);
}

.transactions-table th {
    padding: 8px;
    background-color: var(--accent);
    border: 1px solid var(--white);
}

/*Table Body */
.transactions-table td {
    padding: 8px;
    border: 1px solid var(--white);
}

/*Center the 2 buttons in each cell.*/
.transactions-table .button-cell {
    text-align: center;
    vertical-align: middle;
    /* Center content vertically */
}

.table-button {
    transition: background-color 0.2s ease;
    color: var(--white);
    /* Make buttons a perfect circle */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    display: inline-flex;
    /* Ensures button takes up the width and height */
    justify-content: center;
    align-items: center;

}

.edit-button {
    background-color: var(--secondary-action);
}

.edit-button:hover {
    background-color: var(--secondary-action-hover);
}

.delete-button {
    background-color: var(--red-label);

}

.delete-button:hover {
    background-color: var(--red-hover);
}

/*MOBILE*/
@media screen and (max-width: 980px) {
  .header-container,
  .calendar-button-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .calendar-button-container{
    margin-top: 48px;
  }
  .calendar-button-container > button{
    margin: unset !important;
  }
}