
.transactions-page {
    min-height: calc(100vh - 60px - 60px);
    background-color: var(--background);
    color: var(--white);
}

.header-container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 26px;
}

.header-container h1 {
    flex-grow: 1;
    text-align: center;
}

/*TABLE*/
.table-wrapper {
    max-width: 2000px; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px auto; 
    padding: 0 70px;
}

.table-buttons {
    width: 100%
}

.transactions-table {
    width: 100%; 
    margin-top: 20px;
    background-color: var(--foreground);
    border-radius: var(--border-radius); 
}

.transactions-table th {
    padding: 8px;
    background-color: var(--accent);
    border: 1px solid var(--white);
}

/*Table Body */
.transactions-table td {
    padding: 8px;
    border: 1px solid var(--white);
}

/*Center the 2 buttons in each cell.*/
.transactions-table .button-cell {
    text-align: center; 
    vertical-align: middle; /* Center content vertically */
}
.table-button{
    /* Make buttons a perfect circle */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    display: inline-flex;
    /* Ensures button takes up the width and height */
    justify-content: center;
    align-items: center;
}
.edit-button{
    background-color: var(--secondary-action);
    color: var(--white);
    transition: background-color 0.2s ease;
}
.edit-button:hover{
    background-color: var(--secondary-action-hover);
}
.delete-button{
    background-color: var(--red-label);
    color: var(--white);
    transition: background-color 0.2s ease;
}
.delete-button:hover{
    background-color: var(--red-hover);
}